<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resume_makers">
<uses-permission android:name="android.permission.CALL_PHONE">


</uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resume_makers">
        <activity
            android:name=".Fourpage"
            android:exported="false" />
        <activity
            android:name=".Threepage"
            android:exported="false" />
        <activity
            android:name=".Two"
            android:exported="false" />
        <activity
            android:name=".onepage"
            android:exported="false" />
        <activity
            android:name=".pageview"
            android:exported="false" />
        <activity
            android:name=".Editpage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>